@charset "utf-8";
@import url(https://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);


/* - - - - - - - - 리셋 요소 - - - - - - - - */
html,body,div,span,object,h1,h2,h3,h4,h5,h6,p,em,img,article,aside,footer,section,nav,address,section,time,ol,ul,li,hr,strong{margin:0; padding:0; border:0; vertical-align:baseline; -webkit-text-size-adjust:none; font-weight:400; font-style:normal;}
ul,ol,li,dl{list-style:none}
a:link,a:visited,a:hover,a:active{text-decoration:none;}
hr{display:none;}
img{border:0;}


/* - - - - - - - - 공통 요소 - - - - - - - - */
body{width:100%; min-width:1200px; overflow-y:scroll;}
html,body,button{ text-shadow: rgba(0,0,0,.01) 0 0 1px; color:#343434; font-size:16px;font-family:'Nanum Square',돋움,dotum,굴림,gulim,sans-serif,Helvetica,AppleGothic;}
button{cursor:pointer;}
.container{width:1200px; margin:0 auto;}

.nd {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}
.cd{cursor:default;}
.cp{cursor:pointer;}

/*텍스트 숨기기용*/
.text_hide{position:absolute; left:-9999px;}
.text_indent{text-indent:-9999px;}

/*이동 버튼*/
#wrap .move>a{position:fixed; display:block; width:40px; height:40px; background-image:url(../../images/all_btn.png);  background-repeat:no-repeat; transform:translateZ(0); -webkit-transform:translateZ(0);}
#wrap .move>a:hover{opacity:0.5; transform:translateZ(0); -webkit-transform:translateZ(0);}
#wrap .move>.to_top_bottom{bottom:3%; right:3%; margin-bottom:26px;  background-position: -43px -1px; transition:transform 0.6s; -webkit-transition:transform 0.6s;}
#wrap .move>.to_top_bottom.go_top{transform:rotate(180deg); transition:trnasofrm 0.6s; transition:transform 0.6s; -webkit-transition:transform 0.6s;}
#wrap .move>.to_home{bottom:3%; right:3%; margin-bottom:26px; margin-right:50px;   background-position: -1px -1px;  }

/*--- footer ---*/

.footer {left:0; right:0;width:100%; position: absolute; background:#333; color:#fff; padding:2%; text-align:center; letter-spacing: 4px;}
.footer ul {display:flex; flex-direction: column;}
.footer ul li {padding-top:30px;}
.footer ul li .color1 {color:#05ace0;}
.footer ul li .color2 {color:#ef6970;}
.footer ul li a {color:#fff;}

/* ==================================================== */


/* - - - - - - - - 네비게이션 - - - - - - - - */


/*네비 ─ 인디케이터*/
nav>.nav_indicator{background-color:#c7718e}
/*인디케이터 실선*/
.nav_indicator>.line{background-color:#c7718e}
/*인디케이터 텍스트 (제이쿼리로 수정)*/
.nav_indicator>.guide{ color:#c7718e}
/*네비 ─ 보여지는 화면*/
nav .nav_container{background-color:#c7718e; }
/* 네비 ─ 메뉴 롤오버 효과*/
nav #gnb>li>a{color:#5a483a;}
 
/* ==================================================== */


/* - - - - - - - - 0. 서브페이지(웹) 공통 요소 - - - - - - - - */


/*전체 레이아웃*/
#wrap{position:relative; border-top:1px solid #c1a89a; border-bottom:1px solid #494949;}
#wrap>.container{width:960px; margin:110px auto 80px; box-shadow:0px 2px 5px #666;  background-color:#fff; }

/*각 아티클 공통 타이틀 요소*/
article>.title{/*border:1px solid brown;*/ text-align:center; margin:20px 0; padding:50px 0;}
article>.title>h3{position:relative; display:inline; margin-left:50px; /*아이콘 자리*/ padding-left:4px; color:#615140; font-size:42px; letter-spacing:-0.02em; font-weight:500;}
article>.title>.title_desc{margin-top:3px; font-size:15px; color:#a58058;}
article>.title>h3:before{display:block; position:absolute; top:0; right:100%; width:50px; height:50px; content:''; background-image:url(../../images/sub_web_h3_icon.png);}


/*아티클 아래 마진*/
article{margin-bottom:40px;}

/*배경*/
#wrap .bg>div{position:absolute; left:0; width:100%; background-color:#ffbccc;}
#wrap .bg_top{z-index:-200; top:0; height:615px;}
#wrap .bg_bottom{z-index:-200; bottom:0;  height:345px;}	

/* ==================================================== */



/* - - - - - - - - 1. header - - - - - - - - */

/*레이아웃*/
section>.inner{position:relative; background-color:#ffe0fa;overflow:hidden;}
section>.inner>.cont_left{z-index:100; position:relative; width:300px; height:515px; padding-left:70px; background-color:rgba(255,55,120,0.8); letter-spacing:-0.03em;} /*총 너비 300+70=370*/

/*제목*/
section>.inner>.cont_left>.cont_left_title>h1{padding-top:100px;}
section>.inner>.cont_left>.cont_left_title>h1>span{display:block; margin-top:-4px; color:#fff; font-size:66px; font-weight:800;}
section>.inner>.cont_left>.cont_left_title>h1>span:last-child{color:#6b1834; font-size:56px; font-weight:normal; font-weight:600;}

/*숫자 및 설명*/
section>.inner>.cont_left>.cont_left_title>.num{position:absolute; top:70px; left:75px; font-size:28px; color:#6b1834; font-weight:800;}
section>.inner>.cont_left>.cont_left_title>.desc{margin:16px 0; font-size:13px; color:#fff; line-height:20px;}

/*버튼*/
section>.inner>.cont_left>.cont_left_btn{position:relative; margin-top:35px;}
section>.inner>.cont_left>.cont_left_btn>a{display:inline-block; height:32px; line-height:32px; margin-right:100px; margin-bottom:7px; padding:0 10px; font-size:20px; letter-spacing:-0.03em;background-color:#fff; border:0; border-right:1px solid #959595; border-bottom:1px solid #959595; transition:all 0.3s; }
section>.inner>.cont_left>.cont_left_btn>a:last-child{height:30px; font-size:18px; border:2px solid #fff; background:none; box-shadow:none; transition:all 0.3s; color:#fff; }
section>.inner>.cont_left>.cont_left_btn>a.btn_shortcut_1:before{display:block; position:absolute; top:-26px; right:98%; width:31px; height:30px; background-image:url(../images/sub_web_header_icon.png);  content:'';}
section>.inner>.cont_left>.cont_left_btn>a:hover{box-shadow:2px 2px 0px #8e7546; transition:all 0.2s; }

/*z-layers용 이미지*/
.zlayers_1{position:absolute; top:0; left:80px; width:256px; height:189px; background-image:url(../../images/header_zlayers_1.png);}
.zlayers_2 {position: absolute; top: 45px; right: 20px; width: 549px; height: 334px; background-image: url(../../images/header2_zlayers_2.png);
}
.zlayers_3 {position: absolute; bottom: -30px; right: 35px; width: 138px; height: 218px; background-image: url(../../images/header2_zlayers_3.png);
}
/* ==================================================== */



/* - - - - - - - - section#work_process - - - - - - - - */

#work_process>.preview{width:920px; height:487px; margin:20px auto 0; background-image:url(../../images/sub_web_pre_2.jpg);}




/* - - - - - - - - 2. article.check - - - - - - - - */


/*타이틀*/
article.check>.title>h3:before{background-position: 0 0;}

/*레이아웃*/
article.check>.main{padding-bottom:60px;}
article.check>.main>.check_cont{position:relative; width:760px; height:230px; margin:-20px auto; background-size:290px 230px; background-repeat:no-repeat; border:1px solid #a1a1a1;}
article.check>.main>.check_cont.box_top{margin-bottom:40px; background-image:url(../../images/sub_web_2_check_top_0.jpg);}
article.check>.main>.check_cont.box_bottom{ background-image:url(../../images/sub_web_2_check_bottom_0.jpg); }
article.check>.main>.check_cont>.txt{padding-right:70px;  margin-left:322px;}

/*텍스트 영역(제목)*/
article.check>.main>.check_cont>.txt>p:first-child{margin:34px 0 28px;}
article.check>.main>.check_cont>.txt>p:first-child>span{display:block; margin-bottom:4px; font-size:13px; letter-spacing:0.08em; color:#aaa;}
article.check>.main>.check_cont>.txt>p:first-child>strong{font-size:21px; font-weight:600; color:#131212;}

/*텍스트 영역(본문)*/
article.check>.main>.check_cont>.txt>p:last-child{font-size:15px; color:#454545; line-height:22px;}

/*텍스트영역(숨김)*/
article.check>.main>.check_cont>.t_2{display:none;}
article.check>.main>.check_cont>.t_4{display:none;}


/*페이지네이션*/
article.check>.main>.check_cont>.page{position:absolute; top:10px; right:10px;}
article.check>.main>.check_cont>.page>li{display:inline-block; width:13px; height:13px; margin-right:7px; background-color:#ffe0fa; border-radius:6px;}
article.check>.main>.check_cont>.page>li.on{background-color:#ff3778;}
article.check>.main>.check_cont>.page>li>a{display:block; width:100%; height:100%;}

.page_stop{display:block; position:absolute; top:10px; right:62px; cursor:pointer; padding:1px 8px; text-align:center; font-size:9px; background-color:#eee; border:0; color:#666; font-weight:600;}
.page_stop:focus{ outline:0;}



/* ==================================================== */


/* - - - - - - - - 3. article.plan - - - - - - - - */

/*타이틀*/
article.plan>.title>h3:before{background-position: 0 -50px;}

/*레이아웃*/
article.plan{width:960px; height:516px; background-color:#fafafa;}
article.plan>.main{width:900px; /*(380*2)+(40*2)+(20*2)+(5*4)*/ margin:0 auto;}
article.plan>.main>.plan_cont{position:relative; float:left; width:380px; margin-left:40px;/*번호 들어갈 자리*/ margin-right:20px; padding:0 5px; }

/*제목 영역*/
article.plan>.main>.plan_cont>.num{position:absolute; top:34px; left:-40px; width:36px; height:36px; font-size:20px; color:#fff; line-height:36px; text-align:center; border-radius:20px; background-color:#fdbf56; }
article.plan>.main>.plan_cont>.s_title{padding-bottom:4px; font-size:13px; color:#999; border-bottom:1px solid #9c9595;}
article.plan>.main>.plan_cont>strong{display:block; margin:16px 0 26px; font-size:24px; font-weight:600;}

/*내용 영역*/
article.plan>.main>.plan_cont>.txt>p{font-size:15px; color:#736955; line-height:22px;}
article.plan>.main>.plan_cont>.txt>p:last-child{margin-top:20px;}




/* ==================================================== */




/* - - - - - - - - 4. article.epilogue - - - - - - - - */

/*타이틀*/
article.epilogue>.title>h3:before{background-position: 0 -100px;}

/*레이아웃*/
article.epilogue>.main{padding-bottom:80px; }
article.epilogue>.main>.epilogue_txt{text-align:center; font-size:0.95em; line-height:24px; letter-spacing:0.01em;}
article.epilogue>.main>.epilogue_txt:before{display:block; content:''; width:1px; height:40px; margin:-50px auto 15px; background-color:#999;}
 
/*바로가기 버튼*/
article.epilogue>.main>.epilogue_btn{width:360px; margin:30px auto 40px;}
article.epilogue>.main>.epilogue_btn>a{padding:6px 12px; color:#fff; background-color:#887e6b; border:0;}
article.epilogue>.main>.epilogue_btn>a:hover{box-shadow:2px 2px 0px #ddd;}

/*각 버튼을 fl:left; fl:right 시킨 후, 부모의 좌우마진을 auto로 하면 가운데 고정 완료!*/
article.epilogue>.main>.epilogue_btn>.btn_shortcut_1{display:block; float:left;}
article.epilogue>.main>.epilogue_btn>.btn_shortcut_2{display:block; float:right;}



/* ==================================================== */



/* - - - - - - - - section#more_works - - - - - - - - */


/*레이아웃*/
#more_works>.container{position:relative; width:920px; height:250px;}
#more_works>.container>div{float:left; width:460px; height:190px;}
#more_works>.container strong{display:block; margin-bottom:3px; font-size:13px; color:#555;}
#more_works>.container>div img{width:100%; height:100%;  vertical-align:top; /*이미지 밑 여백 생김 방지*/}

/*공통 - 롤오버 상세설명 부분*/
#more_works>.container>div>.desc{display:none; position:absolute; top:0px; width:460px; height:190px;  background-color:rgba(80,80,80,0.8);}
#more_works>.container>div>.desc>p{display:inline-block; background-color:rgba(255,255,255,0.95); padding:3px 4px 2px; font-size:16px; }
#more_works>.container>div>.desc>p.title{font-size:22px; font-weight:600; margin-top:13.5%; margin-bottom:6px; padding:3px 6px 2px; }
#more_works>.container>div>.desc>a{display:block; position:absolute; top:0; width:100%; height:100%;}


/*작업 더 보기 - 왼쪽*/
#more_works>.container>.cont_left{position:relative;}
#more_works>.container strong.left:after{display:block; position:absolute; top:8px; left:125px; width:320px; height:1px; background-color:#bbb; content:'';}
/*왼쪽 - 롤오버 상세설명 부분*/
#more_works>.container>.cont_left>.desc{left:0;}
#more_works>.container>.cont_left>.desc>p{margin-left:52px; margin-right:50%;}
#more_works>.container>.cont_left>.desc>a{left:0;}


/*작업 더 보기 - 오른쪽*/
#more_works>.container>.cont_right{position:relative; text-align:right;}
#more_works>.container strong.right{text-align:right; margin-top:-24px;}
#more_works>.container strong.right:after{display:block; position:absolute; top:8px; right:125px; width:320px; height:1px; background-color:#bbb; content:'';}
/*오른쪽 - 롤오버 상세설명 부분*/
#more_works>.container>.cont_right>.desc{right:0;}
#more_works>.container>.cont_right>.desc>p{margin-left:50%; margin-right:52px;}
#more_works>.container>.cont_right>.desc>a{right:0; color:transparent;}

/*다른 작품*/
#more_works>.container>div>.arrow{display:none; position:absolute; top:50%; margin-top:-40px; width:78px; height:78px; box-shadow:1px 1px 3px #666;  background-image:url(../../images/all_arrow.png); }
#more_works>.container>.cont_left>.arrow{left:-50px; background-position:0 -78px; }
#more_works>.container>.cont_right>.arrow{right:-50px; background-position: 0 0;}


